@import "./assets/css/fonts.css";

body {
  font-family: "Trip Sans";
  color: white;
  background-color: black;
  font-size: 20px;
}

.logo {
  width: 100px;
  height: 100px;
  margin-left: 50px;
}

.container {
  margin: 0 0 40px 50px;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  margin-top: 20px;
}

.images {
  display: flex;
  overflow: hidden;
  overflow-x: scroll;
}

img {
  width: 220px;
  object-fit: cover;
  object-position: center;
}
